.container {
	margin: 0 10px;
	display: flex;
	width: 36vh;
	height: 30vh;
	border: 1px solid 000C7B;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	background-position: center;
	background-color: ;
	color: white;
}

.container:hover, .container:active, .container:focus {
	transform: scale(1.04);
	transition-duration: .5s;
	border: 4px solid white;
}

.overlay {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 2vh 2vw;
	background-color: rgba(0,0,0,0.3);
	width: 36vh;
	height: 30vh;
	border-radius: 4px;
}

.date {
	font-size: 16px;
	font-weight: 200;
	width: 35vh;
}

.title {
	font-size:23px;
	font-weight: 700;
}


.title, .date, .overlay {
	pointer-events: none;
}

@media (max-width: 800px){
	.container:active {
		transform: scale(1.04);
		transition-duration: .5s;
		border: 4px solid white;
	}
}