.container {
	display: flex;
	width: 40vh;
	height: 30vh;
	border: 1px solid 000C7B;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.details {
	background-color: rgba(0, 12, 123, 1);
	width: 38vh;
	height: 9vh;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: .5vh;
	align-items: flex-start;
	justify-content: center;
	color:  white;
	margin-bottom: 1vh;
}

.name {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
}

.price {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
}

@media (max-width:  800px){
	.container {
		width: 80vw;
		height: 120vw;	
		background-size:86vw;
		border-radius: 10px;
		padding:  0;
		margin: 0 2vw;
		align-items: center;
		justify-content: flex-end;
	}

	.details {
		width: 74vw;
		margin: 1vh 3vw;
		height: 6vh;
		justify-content: space-between;
	}

	.price, .name {
		font-size: 16px;
		width: 74vw;
		text-align: center;
	}
}
