.container {
	display: flex;
	flex-direction: row;
}

.script, .research {
	width: 50%;
}

.pageContainer, .researchPanel, .editorContainer {
	width: 600px;
	height: 900px;
	background-color: white;
	color: black;
	padding: 20px;
	margin: 0 10px;
	z-index: 2;
	overflow: scroll;
}

.controlPanel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 3px;
}

.showEditor {
	width: 100px;
	height: 30px;
	background-color: white;
	border-radius: 3px;
	border: 2px solid red;
	color: red;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0 6px;
}

.saveChanges {
	border: 1px solid white;
	padding: 3px;
	margin: 3px;
}

.editor {
	margin-top: 10px;
	background-color: white;
	color: black;
	border: none;
	font-size: 12px;
	width: 100%;
	overflow: none;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.content h1 {
	font-weight: 700
}

.content p {
	font-weight: 200
}