.container {
  padding: 0 0;
  overflow-y: hidden;
}

.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapContainer {
  width: 100vw;
  height: 65vh;
  background-color: white;
}

.timeline {
  background-color: black;
  width: 100vw;
  height: 35vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1vh 1vw;
  overflow-x: scroll;
  cursor: grab;
}

@media (max-width: 800px){
  .mapContainer {
    height: 60vh;
  }

  .timeline {
    height: 40vh;
    padding: 2vh 1vw;
  }
}









