.container {
  padding: 0 0;
}

.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map {
  width: 100vw;
  height: 65vh;
  background-color: black;
}

.timeline {
  width: 100vw;
  height: 35vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1vh 1vw;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}