.cover {
	width: 100%;
	height: 300px;
	background-color: red;
}

.container {
	position: absolute;
	width: 100vw;
	min-height: 60vh;
	height: auto;
	display: flex;
	background-color: black;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	padding: 0 0 5vh 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

.originalCard {
	margin: 20px;
	border: 2px solid white;
	display: flex;
	flex-direction: column;
	width: 24vw;
	height: 16vw;
	background-size: cover;
	background-color: white;
	border-radius: 10px;
	justify-content: flex-end;
	font-weight: 700;
	position: relative;
}

.originalCard:hover {
	transform: scale(1.04);
}

.originalCard:active {
	transform: scale(0.96);
}


.contentCard {
	border: 1px solid black;
	margin-top: -10vh;
	width: 90vw;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	z-index: 4;
	border-radius: 10px;
	padding: 10vh 0;
}

.updatedContentCard {
	border: 1px solid black;
	/*margin-top: -10vh;*/
	width: 96vw;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	z-index: 4;
	border-radius: 10px;
	padding: 20px;
}

.content {
	width: 60vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content title {
	text-align: left !important;
}

.content img {
	width: 40vw;
	height: auto;
	margin: 0 auto !important;
}

.content p {
	/*background-color: red;*/
	text-align: left !important;
}

.title {
	width: 60vw;
	font-size: 31px;
	font-weight: 700;
	text-align: center;
}

.cover {
	width: 100vw;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.tagLine {
	width: 30vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.tag {
	margin: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #C7C7C7;
	height: 20px;
	padding: 10px;
	border-radius: 8px;
}

.updatedArticles {
	display: flex;
	flex-direction: row;
	height: 15vw;
	padding: 0 5vw;
	width: 100vw;
	margin: 10vh 0 0 0;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	cursor: grab;
}

.updateCard {
	margin: 0 20px 0 0;
	border: 2px solid white;
	display: flex;
	flex-direction: column;
	width: 24vw;
	height: 16vw;
	background-size: cover;
	background-color: white;
	border-radius: 10px;
	justify-content: flex-end;
	font-weight: 700;
	position: relative;
}

.updateCard:hover {
	transform: scale(1.04);
	border: 4px solid white;
	border-radius: 14px;
}

.updateCard:active {
	transform: scale(0.96);
	
}

.updateCover {
	position: absolute;
	background-color: black;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	color: white;
	display: flex;
}

.updateInfo {
	position: absolute;
	color: white;
	z-index: 2;
	margin: 20px;
	font-size: 24px;
	max-height: 100%;
	max-width: 100%;
}

.updateTime {
	font-weight: 200;
	font-size: 16px;
	margin: 0 0 3px 0;
}

@media (max-width:  800px){
	.contentCard {
	   width: 96vw;
	   margin-top: -10vh;
	}
	.title { 
		width: 90vw;
	}
	.content {
		width: 90vw;
	}

	.content img {
		min-width: 90vw;
	}

	.tagLine {
		width: 80vw;
	}

	.updatedArticles {
		display: flex;
		margin: 30px 0 0 0;
		flex-direction: row;
		width: 100vw;
		height: 40vw;
		padding: 0;
		overflow: scroll;
  		cursor: grab; 
	}

	.originalCard {
		width: 90vw;
		height: 60vw;
		background-size: cover;
		margin-bottom: 3vh;
		margin-top: -10vh;
	}

	.updateCard {
		width: 60vw !important;
		height: 40vw !important;
		margin: 0 10px;
	}

	.updateCover {

	}

	.updateInfo {
		max-height: 90%;
		max-width: 90%;
		font-size: 16px;
	}

	.updateTime {

	}
}