.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
}

.videoContainer {
	display: flex;
	flex-direction: row;
	width: 100vw;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
}

.slideControl {
	width: 20vw;
	height: 100vh;
	overflow: scroll;
	align-items: center;
}

.slideButton {
	width: 15vw;
	height: 10vw;
	margin: 1vh auto;

	font-size: 11px;
	font-weight: 700;
	color: black;
	background-color: red;
	border: solid black 2px;

	z-index: 2;
	display: flex;
	flex-direction: row;
	
	align-items: center;
	justify-content: center;
}


.slideButton:hover {
	transform: scale(1.03);
	background-color: red;
}


.slideButton:active {
	transform: scale(0.97);
}

.buttonID {
	background-color: red;
}


.slide {
	width: 60vw;
	height: 100vh;
	border: 4px solid blue;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card {
	width: 60vw;
	height: 76vh;
	background-color: white;
	margin: 1vh;
	padding: 2vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	background-color: black;
}

.slideContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image {
	border: 1px solid white;
	height: 675px;
	width: 1200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	justify-content: center;
	transform: translate3d(0, 0, 0);
    transition: opacity 2.0s ease-out, transform 2.0s ease-out;
}

.idContainer {
	top: 10vh;
	width: 60vw;
	padding: 1vw;
}

.id {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 2vh;
	background-color: red;
	padding: 10px;
	font-weight: 700;
	font-size: 21px;
}

.playButton {
	margin-top: 20px;
	background-color: blue;
	border: 4px solid black;
	border-radius: 10px;
	padding: 10px;
	font-weight: 800;
	color: white;
	width: 200px;
}

.stopButton {
	margin-top: 20px;
	color: white;
	font-weight: 800;
	background-color: black;
	border: 4px solid blue;
	border-radius: 10px;
	padding: 10px;
	width: 200px;
}

.text {
	background: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 0 1vw;
	font-size: 31px;
	margin-top: 10px;
	width: 20vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
